name: Test

on:
  push:
    paths-ignore:
      - '**/*.md'
  pull_request:
    paths-ignore:
      - '**/*.md'

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      typesense:
        image: typesense/typesense:26.0
        ports:
          - 8108:8108/tcp
        volumes:
          - /tmp/typesense-server-data:/data
        env:
          TYPESENSE_DATA_DIR: '/data'
          TYPESENSE_API_KEY: 'test_key'
          TYPESENSE_ENABLE_CORS: true
          TYPESENSE_URL: 'http://localhost:8108'

    steps:
      - uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 'stable'

      - name: Install dependencies
        run: go mod download

      - name: Build
        run: go build -v ./...

      - name: Run tests
        env:
          TYPESENSE_URL: 'http://localhost:8108'
          TYPESENSE_API_KEY: 'test_key'
          CGO_ENABLED: 1
        run: go run gotest.tools/gotestsum@latest --format github-actions -- -tags=integration ./... -race -shuffle=on
